# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: build, test, push nuget

on:
  workflow_dispatch:
  release:
    types: [released]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET 6
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x
    - name: Setup .NET 8
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Setup .NET 9
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build ./src/UpdownDotnet.csproj --no-restore -c Release
    - name: Test
      run: dotnet test ./test/UpdownDotNetTests/UpdownDotNetTests.csproj --no-restore -c Release --verbosity normal
    - name: Pack
      run: dotnet pack ./src/UpdownDotnet.csproj -c Release --no-build --output .

    - name: Push to Nuget.org
      run: dotnet nuget push "*.nupkg" --api-key ${{ secrets.NUGET_ORG_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
